body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Customizable\ Vibrant\ Design\ Template.jpeg");
    text-align: center;
    padding: 20px;
}

.background-container{
    display: flex;
    gap:20px;
    background-color: #808080;
    margin: 20px 0;
    border-radius: 10px;
    max-width: 200px;
}

section{
    display: inline-block;
    text-align: center;
    width: 300%;
    height:400%;
    max-width: 400px;
    border-radius: 10px; 
    margin: 2%;
    padding: 20px;
    justify-content: center;
    background-color: antiquewhite; 
}

a{
    color: whitesmoke;
    /*font-weight: bold;*/
    text-decoration: none;
}


