body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Customizable\ Vibrant\ Design\ Template.jpeg");
    text-align: center;
}

.link{
    background-color: #808080;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 200px;
 }

.linker{
    background-color: grey;
    border-radius: 10px;
    max-width: 200px;
}

section{
    display: inline-block;
    text-align: center;
     width: 300%;
     height:400%;
    max-width: 400px;
    border-radius: 10px; 

    box-shadow: 
    0 0 0 1px rgba(0, 0, 0, 0.1), 
    0 0 10px rgba(0, 0, 0, 0.05); 

    transition: box-shadow 0.3s ease; 
    border: 10px solid #342f2f(0, 0, 0, 0.2); 
    margin: 2%;
    background-color: antiquewhite;
  
}

